@{
    Layout = null;
}
@model Loan.Web.Models.LoginVModel
@{
    ViewBag.Title = "Login";
    ViewBag.SessionName_ValidCode = Loan.Core.GlobalConst.SESSIONNAME_VALIDCODE_LOGIN;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Flat UI - Free Bootstrap Framework and Themes</title>
    <meta name="description" content="Flat UI Kit Free is a Twitter Bootstrap Framework design and Theme, this responsive framework includes a PSD and HTML version." />
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0" />
    <!-- Loading Bootstrap -->
    <link href="@Url.Content("~/bootstrap/css/bootstrap.css")" rel="stylesheet" />
    <!-- Loading Flat UI -->
    <link href="@Url.Content("~/css/flat-ui.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/demo.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")">
    <link rel="shortcut icon" href="@Url.Content("~/images/favicon.ico")">
    <link rel="stylesheet" href="@Url.Content("~/css/scojs.css")">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="@Url.Content("~/js/html5shiv.js")"></script>
      <script src="@Url.Content("~/js/respond.min.js")"></script>
    <![endif]-->
</head>
<body>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "registerform" }))
    {
        <div class="container">
            <div class="login">
                <div class="login-screen">
                    <div class="login-icon">
                        <img src="@Url.Content("~/images/login/icon.png")" alt="Welcome to Mail App" />
                        <h4>
                            Welcome to <small>Mail App</small>
                        </h4>
                    </div>
                    <div class="login-form">
                        @Html.ValidationSummary(false)
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.UserName, new
                   {
                       @class = "form-control login-field"
                       ,
                       maxlength = "16"
                       ,
                       placeholder = "用户名"
                       ,
                       id = "login-name"
                   })
                            <label class="login-field-icon fui-user" for="login-name">
                            </label>
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new
                   {
                       @class = "form-control login-field"
                       ,
                       maxlength = "16"
                       ,
                       placeholder = "密码"
                       ,
                       id = "login-pass"
                   })
                            <label class="login-field-icon fui-lock" for="login-pass">
                            </label>
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <div class="form-group">
                            <table>
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(m => m.ValidCode, new
                   {
                       @class = "form-control login-field"
                       ,
                       style = "width:200px;"
                       ,
                       id = "txtCheckCode"
                       ,
                       maxlength = "5"
                       ,
                       placeholder = "验证码"
                   })
                                    </td>
                                    <td>
                                        &nbsp;&nbsp;&nbsp;&nbsp;<img id="valiCode" style="cursor: pointer;" src="/Account/GetValidCode/@ViewBag.SessionName_ValidCode" alt="验证码" />
                                    </td>
                                </tr>
                            </table>
                            @Html.ValidationMessageFor(m => m.ValidCode)
                        </div>
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="登&nbsp;&nbsp;&nbsp;&nbsp;陆" style="font-weight:bold">
                        <a class="login-link" href="#">忘记密码?</a>
                    </div>
                </div>
            </div>
        </div>

        <div style="display: none;" class="page_mess_error" id="page_message"></div>
    }

    <!-- Load JS here for greater good =============================-->
    <script src="@Url.Content("~/js/jquery-1.8.3.min.js")"></script>
    <script src="@Url.Content("~/js/jquery-ui-1.10.3.custom.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.ui.touch-punch.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap-select.js")"></script>
    <script src="@Url.Content("~/js/bootstrap-switch.js")"></script>
    <script src="@Url.Content("~/js/flatui-checkbox.js")"></script>
    <script src="@Url.Content("~/js/flatui-radio.js")"></script>
    <script src="@Url.Content("~/js/jquery.tagsinput.js")"></script>
    <script src="@Url.Content("~/js/jquery.placeholder.js")"></script>
    <script src="@Url.Content("~/js/jquery.stacktable.js")"></script>
    <script src="@Url.Content("~/js/application.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/js/sco.message.js")"></script>
    <script src="@Url.Content("~/js/ValidationSummary.js")"></script>
    <script>
        $(function () {
            $("#valiCode").bind("click", function () {
                this.src = "/Account/GetValidCode/@ViewBag.SessionName_ValidCode?time=" + (new Date()).getTime();
            });
        });</script>
</body>
</html>
